<% include ./partials/header %>
<div class="homePage center">
  <div style="padding-top:30px;">
    <% if(name) { %>
      <h1>Game of Throne's Mortality Picker</h1>
    <% } else { %>

    <% } %>
    <h3>Can you predict who will die?</h1>
  </div>
</div>
    <audio autoplay loop>
    <source src="/images/gotsound.mp3" type="audio/mp3">
    </audio>
  </body>
</html>
