<% include ./partials/header %>

<form class="characterForm" action="/characterForm" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="name" value=""><br>
  <input type="radio" name="isAlive" value="true" checked>&nbsp;<img class="logo" src="/images/alive.jpg" alt="alive">
  <input type="radio" name="isAlive" value="false">&nbsp;<img class="logo" src="/images/death.jpg" alt="dead"><br>
  <input class="btn-success" type="submit" name="submit" value="Submit">
</form>
</body>
</html>
