<% include ./partials/header %>


    <div class="container">
      <h1 class="center"><%= title %></h1>
      <h2 class="center">User: <%= user.name %></h2>
      <% for(var i=0;i<user.currentBet.length;i++) { %>
        <div class="row userDisplay">
          <div class="col-md-12">
            <h3>Weighted Bet #<%= i+1 %>: <%= user.currentBet[i] %></h3>
          </div>
        </div>
      <% } %>
      </div>
  </body>
</html>
