<% include ./partials/header %>
    <div class="currentBetPage">
      <div class="container">
        <div class="currentBetDiv">
          <h2><span class="currentBetDisplay"><%= title %></span></h1>
          <h3><span class="currentBetDisplay">User: <%= user.name %></span></h2>
          <% for(var i=0;i<user.currentBet.length;i++) { %>
            <div class="row">
              <div class="col-md-6 offset-md-3 currentBetDisplay">
                <h4>Weighted Bet #<%= i+1 %>: <%= user.currentBet[i] %></h3>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
    <audio autoplay loop>
     <source src="/audio/gotsoundLadder.mp3" type="audio/mp3">
    </audio>
  </body>
</html>
