<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GOT Mortality Pool</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body>
  <div class="row">
    <h1>Game Of Thrones Mortality Pool</h1>
      <div class="col-xs-6">
        1.
      </div>
      <div class="col-xs-6">
        <!-- <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Theon</a></li>
            <li><a href="#">Asha</a></li>
            <li><a href="#">Dragon</a></li> 
          </ul>
        </div> -->
        2.
      </div>
    <div>
      <h2>Pick Your Characters To Die</h2>
    </div>
  </div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>