<% include ./partials/header %>
    <div class="statsPage">
      <h1 style="padding-top:30px;" class="center"><%= title %></h1>
      <ol>
        <% for(var i=0;i<len;i++) { %>
        <li>
          <h3><%= users[i].name %> with <%= users[i].currentPoints %> points</h3>
        </li>

        <%}%>
      </ol>
    </div>
    <audio autoplay loop>
     <source src="/images/gotsoundThrone.mp3" type="audio/mp3">
    </audio>
  </body>
</html>
