<% include ./partials/header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="userform" action="/submitUser" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
      <br>
      <label for="characterChoice1">First Character Slot</label>
      <select class="" name="characterChoice1">

      </select>
    </form>
  </body>
</html>
